<body>


    <div>
        <a href="/">
            <h1 class="roboto-medium rainbow-text">
                <span>G</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span>
            </h1>
        </a>
    </div>

