<%-include ("partials/header") %>


<%-include ("partials/google") %>

    <div>
        <form action="https://images.google.com/search">
            <input class="input" type="text" name="q">
            <input type="hidden" name="tbm" value="isch">
            <input type="submit" value="Image Search">
        </form>
    </div>

</body>

<%-include ("partials/footer") %>