<%-include ("partials/header") %>

<%-include ("partials/google") %>

    <form action="https://www.google.com/search">
        <input class="input" type="text" name="q">
        <input type="submit" value="Google Search">
        <input type="submit" value="Feeling Lucky" name="btnI">
    </form>

</body>

<%-include ("partials/footer") %>
